:root {
        --color--primary:#0B5ED7;
        --color--border:#393E42;
        --color--background:#0C0F16;
        --color--input:#20252A;
        }

::-webkit-scrollbar {
        width: 8px;
        }

        ::-webkit-scrollbar-thumb {
        background:var(--color--primary);
        }

        .card-login {
        padding: 13rem 0 0 0;
        width: 28rem;
        margin: 0 auto;
        }

        .navbar {
        background: var(--color--background);
        }

        .card {
        background-color: var(--color--background);
        }

        .input-group-text {
        background-color: var(--color--input);
        border: 1px solid var(--color--border);
        }

        .form-control {
        color: #fff;
        background-color: var(--color--input);
        border: 1px solid var(--color--border);
        }

        .form-control:focus {
        box-shadow: none;
        outline: none;
        background-color: var(--color--input);
        color:#fff;
        border-color: var(--color--border);
        }

        .form-control::placeholder {
        color:rgba(255, 255, 255, 0.76); 
        }

        footer {
        background: #0C0F16;
        padding: 1rem 4%;
        margin: 14.19rem 0 0 0;
        }

        @media screen and (max-width: 365px) {
        .navbar-brand img {
        width: 3rem;
        height: 3rem;
        }

        .card-login {
        padding:13rem 0 0 0;
        width: 18rem;
        margin: 0 4rem 0 2.5rem;
        }
}
