:root {
        --color--primary:#0B5ED7;
        --color--border:#393E42;
        --color--input:#20252A;
        --color--background-modal:#161A1F;
}

::-webkit-scrollbar {
        width: 8px;
        }

        ::-webkit-scrollbar-thumb {
        background:var(--color--primary);
        }

        .navbar {
        background: #0C0F16;
        }

        .btn-topico {
        margin:7rem 19.4rem 0 0;
        text-align:end;
        }

        .container {
        border: 1px solid;
        border-radius:0.5rem;
        }

        .modal-content {
        border-radius:4rem;
        }

        .modal-header {
        background: var(--color--background-modal);
        border-bottom:1px solid var(--color--primary);
        }

        .modal-body {
        background: var(--color--background-modal);
        }

        .modal-footer {
        background: var(--color--background-modal);
        }

        .form-control {
        color: #fff;
        background-color: var(--color--input);
        border: 1px solid var(--color--border);
        }

        .form-control::placeholder {
        color:rgba(255, 255, 255, 0.76); 
        }

        .form-control:focus {
        background-color: var(--color--input);
        color:#fff;
        border-color: var(--color--border);
        box-shadow: none;
        outline: none;
        }

        .icon {
        color:#fff;
        }

        .table.table-striped {
        background: var(--color--input);
        border:2px solid var(--color--primary);
        border-radius: 0.4rem;
        overflow: hidden;
        }

        .table.table-striped thead th {
        border-bottom: 2px solid var(--color--primary);
        background:var(--color--primary);
        color:#fff;
        }

        .table.table-striped tbody tr:nth-of-type(odd) td {
        background: #20252a; 
        color: #fff;     
    }

        .table.table-striped tbody tr:nth-of-type(even) td {
        background: #161A1F; 
        color: #fff;     
    }

        footer {
        background: #0C0F16;
        padding: 1rem 4%;
        margin: 10rem 0 0 0;
        }