:root {
        --color--background-modal:#161A1F;
        --color--background-card:#0a0c0f;
        --color--background:#000;
        --color--primary:#0B5ED7;
        --color--navbar:#0C0F16;
        --color--border:#393E42;
        --color--input:#20252A;
        --color--text:#fff;
        }

        ::-webkit-scrollbar {
        width: 8px;
        }

        ::-webkit-scrollbar-thumb {
        background:var(--color--primary);
        }

        body {
        background: var(--color--background);
        }

        .navbar {
        background: var(--color--navbar);
        }

        .perfil {
        font-size: 3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        letter-spacing: 0.5px;
        }

        #inputFoto {
        display: none;
        }

        .custom-file-label {
        display: inline-block;
        background: var(--color--primary);
        color:var(--color--text);
        padding: 8px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 600;
        transition: 0.3s ease;
        text-align: center;
        }

        .custom-file-label:hover {
        background: #0056b3;
        }

        #file-name {
        margin-left: 10px;
        font-style: italic;
        color: #555;
        }

        .img-preview {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ccc;
        background: rgb(255, 255, 255);
        }

        .nome {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
        color: var(--color--text);
        }

        .email {
        font-family: 'Roboto', sans-serif;
        font-size: 1.3rem;
        font-weight: 700;
        text-align: center;
        color: var(--color--text);
        }

        .card {
        background: var(--color--background-card);
        margin: 4rem 10rem 10rem 10rem;
        border: 0.5rem;
        }

        .card-header {
        border-bottom:1px solid var(--color--primary);
        }

        .card-body {
        padding: 1.9rem;
        }

        label {
        color: var(--color--text);
        }

        .form-control {
        color: var(--color--text);
        background: var(--color--input);
        border: 1px solid var(--color--border);
        }

        .form-control::placeholder {
        color:rgba(255, 255, 255, 0.76); 
        }

        .form-control:focus {
        background: var(--color--input);
        color: var(--color--text);
        border-color: var(--color--border);
        box-shadow: none;
        outline: none;
        }

        .eyes {
        color: var(--color--text);
        background: var(--color--input);
        border: 1px solid var(--color--border);
        }

        #imagemCrop {
        border-radius: 50%;
        }