:root {
        --color--background: #f8fbfc;
        --color--primary: #0B5ED7;
        --color--navbar: #dbd5d5;
        --color--border: #001630;
        --color--card: #001630;
        --color--text: #fff;
        --bg-card:#138f4b;
}

.card-header {
    background: var(--color--card);
    color: var(--color--text);
}

.card-body input {
    border-color: var(--color--border);
}

.card-body input:focus {
    border-color: var(--color--border);
    box-shadow: none;
    outline: none;
}

.card-body select {
    border-color: var(--color--border);
}

.card-body select:focus {
    border-color: var(--color--border);
    box-shadow: none;
    outline: none;
}
